
/*内容区域*/
.page-wrap{
    padding: 40px 0;
    background: #1f9966;
}

/*模块内容总区域，定宽，水平居中*/
.user-con{
    pasition:relative;
    margin:0 auto;
    width: 400px;
    background: #fff;
}
/*表单标题样式（第一行）*/
.user-con .user-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size:18px;
    font-weight: bold;
    color: #666;
}
/*表单区域样式*/
.user-con .user-box{
    padding: 20px;
}

/*错误提示（第二行）*/
.user-con .user-box .error-item{
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: 1px solid red;
    color: red;
    background: #fde9e9;
    display: none;
}

/*错误图标*/
.user-con .user-box .error-icon{
    position: absolute;
    left: 14px;
    top:50%;
    font-size: 14px;
    margin-top: -7px;
}

/*表单每行的基本样式*/
.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
}
/*文本输入框标签*/
.user-con .user-item .user-label{
	position: absolute;
	left: 1px;
    top: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}
/*文本输入框，如果不定义行高，默认使用父元素的行高*/
.user-con .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border:1px solid #bdbdbd;
    outline: none;
}
/*提交按钮*/
.user-con .btn-submit{
    width: 100%;
    padding: 2px 0;
    text-align: center;
    font-size: 20px;
}

/*跳转链接*/
.user-con .link-item{
    text-align: right;
    margin-top: 10px;
}
.user-con .link-item .link{
    margin-left: 10px;
    color: #999;
}
