<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epost.dao.SeckillOrderMapper">
  <resultMap id="BaseResultMap" type="com.epost.pojo.SeckillOrder">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="seckill_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, seckill_id, order_no, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from epost_seckill_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from epost_seckill_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.epost.pojo.SeckillOrder">
    insert into epost_seckill_order (id, user_id, seckill_id, 
      order_no, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{seckillId,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=BIGINT}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.epost.pojo.SeckillOrder">
    insert into epost_seckill_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="seckillId != null">
        seckill_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="seckillId != null">
        #{seckillId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.epost.pojo.SeckillOrder">
    update epost_seckill_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="seckillId != null">
        seckill_id = #{seckillId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epost.pojo.SeckillOrder">
    update epost_seckill_order
    set user_id = #{userId,jdbcType=INTEGER},
      seckill_id = #{seckillId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectOrderByUserAndId" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from epost_seckill_order
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="seckillId != null">
        and seckill_id = #{seckillId}
      </if>
    </where>
  </select>
  <select id="checkOrderByUserAndId" parameterType="map" resultType="java.lang.Integer">
    SELECT
    count(1)
    from epost_seckill_order
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="seckillId != null">
        and seckill_id = #{seckillId}
      </if>
    </where>
  </select>

  <select id="selectOrderByUserAndOrderNo" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from epost_seckill_order
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="orderNo != null">
        and order_no = #{orderNo}
      </if>
    </where>
  </select>
</mapper>