/*面包削导航*/
.crumb{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #009966;
}
.page-wrap{
    background: #ffffff;
    padding: 10px 0 25px 0;
}
.payment-tips{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}
.payment-tips.enhance{
    color: #009966;
}
.img-con{
    margin: 0 auto;
    width:300px;
    height: 300px;
    background: #ffffff;
    border: 1px solid #ffffff;
}
.img-con .qr-code{
    width: 100%;
    height: 100%;
}