<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <!--ios是否运行创建快捷启动方式-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--ios顶部通知栏的样式 黑色-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--遇到数字不让转成电话号码格式-->
    <meta content="telephone=no" name="format-detection">
    <meta content="mail=no" name="format-detection">
    <meta name="description" content="宜邮商城是集合邮政邮票，报刊，特色农产品为一体的特色商城">
    <meta name="Keywords" content="宜春邮政，邮票，报刊，农产品">
    <link type="image/x-icon" rel="shortcut icon" href="image/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <title>epost</title>    
</head>
<body>
	<!--首页内容-->
	<div class="ct_container">
		<header class="ct_header">
			<a href="javascript:;" class="left"><span class="fa fa-arrow-left"></span></a>
			<h3>EPost</h3>
			<a href="search.html" class="right"><span class="fa fa-search"></span></a>
		</header>
		<div class="ct_content">
			<!--MUI滑动区域-->
			<div class="ct_wrapper">
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!--MUI轮播图-->
						<div class="mui-slider" id="banners">
						</div>
						<!--秒杀区域-->
						<div class="mui-content seckill-content">	
						</div>
						<!--第一层家用电器-->
						<div class="mui-content" style="position: relative;margin-bottom: 5px;margin-top: 5px;height: 150px;">
							<div style="height: 20px;margin-bottom: 10px;">
								<span 
								style="position: absolute;left: 10px;font-weight: 900;font-size: 16px;color:#1f9966;">
										家用电器
								</span>	
							</div>
							<!--横向滚动条-->
							<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="layer1" style="height: 120px;background: #fff;overflow: hidden;">
								<div class="mui-scroll">
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">双开门冰箱</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor1-1.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">高清电视</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor1-2.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">洗衣机</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor1-3.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">空调专场</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor1-4.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">电热水器</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor1-5.jpg"/>
									</div>
								</div>
							</div>	
						</div>
						<!--第二层数码3C-->
						<div class="mui-content" style="position: relative;margin-bottom: 5px;margin-top: 5px;height: 150px;">
							<div style="height: 20px;margin-bottom: 10px;">
								<span 
								style="position: absolute;left: 10px;font-weight: 900;font-size: 16px;color:#1f9966;">
										数码3C
								</span>	
							</div>
							<!--横向滚动条-->
							<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="layer1" style="height: 120px;background: #fff;overflow: hidden;">
								<div class="mui-scroll">
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">笔记本</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor2-1.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">手机</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor2-2.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">平板电脑</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor2-3.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">数码相机</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor2-4.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">3C配件</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor2-5.jpg"/>
									</div>
								</div>
							</div>	
						</div>
						<!--第三层服装箱包-->
						<div class="mui-content" style="position: relative;margin-bottom: 5px;margin-top: 5px;height: 150px;">
							<div style="height: 20px;margin-bottom: 10px;">
								<span 
								style="position: absolute;left: 10px;font-weight: 900;font-size: 16px;color:#1f9966;">
										服装箱包
								</span>	
							</div>
							<!--横向滚动条-->
							<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="layer1" style="height: 120px;background: #fff;overflow: hidden;">
								<div class="mui-scroll">
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">女装</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor3-1.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">帽子</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor3-2.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">旅行箱</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor3-3.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">手提包</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor3-4.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">保暖内衣</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor3-5.jpg"/>
									</div>
								</div>
							</div>	
						</div>
						<!--第四层食品生鲜-->
						<div class="mui-content" style="position: relative;margin-bottom: 5px;margin-top: 5px;height: 150px;">
							<div style="height: 20px;margin-bottom: 10px;">
								<span 
								style="position: absolute;left: 10px;font-weight: 900;font-size: 16px;color:#1f9966;">
										食品生鲜
								</span>	
							</div>
							<!--横向滚动条-->
							<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="layer1" style="height: 120px;background: #fff;overflow: hidden;">
								<div class="mui-scroll">
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">零食</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor4-1.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">生鲜</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor4-2.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">半成菜</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor4-3.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">速冻专区</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor4-4.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">进口食品</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor4-5.jpg"/>
									</div>
								</div>
							</div>	
						</div>
						<!--第五层酒水饮料-->
						<div class="mui-content" style="position: relative;margin-bottom: 5px;margin-top: 5px;height: 150px;">
							<div style="height: 20px;margin-bottom: 10px;">
								<span 
								style="position: absolute;left: 10px;font-weight: 900;font-size: 16px;color:#1f9966;">
										酒水饮料
								</span>	
							</div>
							<!--横向滚动条-->
							<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="layer1" style="height: 120px;background: #fff;overflow: hidden;">
								<div class="mui-scroll">
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">白酒</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor5-1.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">红酒</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor5-2.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">饮料</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor5-3.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">鸡尾酒</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor5-4.jpg"/>
									</div>
									<div style="display: inline-block;height: 100px;width: 100px;">
										<p style="margin-bottom:0px;margin-top:10px;">进口洋酒</p>
										<img style="height: 84px;width: 84px;" src="image/floor/floor5-5.jpg"/>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="ct_footer">
			<a href="index.html" class="tab_home fa fa-home now"><span>首页</span></a>
			<a href="category.html" class="tab_cate fa fa-bars"><span>分类</span></a>
			<a href="cart.html" class="tab_cart fa fa-shopping-cart"><span>购物车</span></a>
			<a href="setting.html" class="tab_user fa fa-user"><span>个人中心</span></a>
		</footer>
	</div>
	<!--轮播的模板-->
	<script type="text/tamplate" id="bannerList">
		<div class="mui-slider-group mui-slider-loop">
    		<div class="mui-slider-item mui-slider-item-duplicate">
    			<a href="<%=banners[banners.length-1].url%>">
    				<img src="<%=banners[banners.length-1].imageHost%><%=banners[banners.length-1].image%>" alt="<%=banners[banners.length-1].name%>"/>
    			</a>
    		</div>
    		<% for(var i=0;i<banners.length;i++) { %>
    			<div class="mui-slider-item">
    				<a href="<%=banners[i].url%>">
    					<img src="<%=banners[i].imageHost%><%=banners[i].image%>" alt="<%=banners[i].name%>"/>
    				</a>
    			</div>
    		<% } %>
    		<div class="mui-slider-item mui-slider-item-duplicate">
    			<a href="<%=banners[0].url%>">
    				<img src="<%=banners[0].imageHost%><%=banners[0].image%>" alt="<%=banners[0].name%>"/>
    			</a>
    		</div>
  		</div>
  		<div class="mui-slider-indicator">
  			<% for(var i=0;i<banners.length;i++) { %>
				<div class="mui-indicator <%=i==0?'mui-active':''%>"></div>
			<% } %>
		</div>
	</script>

	<!--秒杀的模板-->
	<script type="text/tamplate" id="seckillList">
	<% if(list.length>0){ %>		
		<div class="seckill-head">
			<span class="seckill-title">秒杀闪购</span>
			<span  class="dateContent">
				<span class="seckill-label" style="font-weight: 700;">倒计时</span> 
				<span class="seckill-date">
					<span class="day">--</span> 
					<span class="hour">--</span> 
					<span class="minute">--</span> 
					<span class="second">--</span>
				</span> 
			</span>
		</div>
		<!--横向滚动条-->
		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="xitems" style="height: 130px;background: #fff;">
			<div class="mui-scroll">
				<% for(var i=0;i<list.length;i++) { %>
					<div class="seckill-item">
						<a target="_self" href="./seckill.html?seckillId=<%=list[i].seckillId%>">
							<img class="seckill-img" src="<%=list[i].imageHost%><%=list[i].mainImage%>"/>
						</a>	
						<p class="seckill-name"><%=list[i].seckillName%></p>
						<div>
							<span class="seckill-price">&yen<%=list[i].seckillPrice%></span>
							<span class="seckill-old-price">&yen<%=list[i].price%></span>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	<% } %>	
	</script>	
	
	<script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.countdown/2.1.0/jquery.countdown.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/index.js"></script>
</body>
</html>