/*面包削导航*/
.crumb{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #009966;
}

/* 图片区 */
.intro-wrap{
	/*顶层清除浮动*/
    overflow: hidden;
}
.intro-wrap .p-img-con{
    float: left;
    width: 420px;
}
/* 图片区*主图 */
.intro-wrap .p-img-con .main-img-con{
    height: 400px;
    border: 1px solid #ddd;
}
.intro-wrap .p-img-con .main-img-con .main-img{
    height: 100%;
    width: 100%;
}
/* 图片区*缩略图 */
.intro-wrap .p-img-con .p-img-list{
	/*顶层清除浮动*/
    overflow: hidden;
    /*避免子元素溢出折行*/
    height: 76px;
    margin-top: 5px;
    margin-right: -10px;
}
.intro-wrap .p-img-con .p-img-item{
    float: left;
    margin-right: 10px;
    width: 72px;
    height: 72px;
    border: 2px solid #eee;
    cursor: pointer;
}
.intro-wrap .p-img-con .p-img-item:hover{
    border: 2px solid #009966;
}
.intro-wrap .p-img-con .p-img-item .p-img{
    width: 100%;
    height: 100%;
}

/* 商品信息 */
.intro-wrap .p-info-con{
    float: left;
    width: 640px;
    margin-left: 20px;
}
.intro-wrap .p-info-con .p-name{
    font-size: 20px;
    color: #333;
}
.intro-wrap .p-info-con .p-subtitle{
    font-size: 15px;
    color: #009966;
    line-height: 30px;
}
.intro-wrap .p-info-con .p-info-item{
    position: relative;
    padding: 0 10px;
    margin-top: 20px;
}
.intro-wrap .p-info-con .p-info-item .label{
    display: inline-block;
    width: 50px;
    color: #999;
}
/*秒杀面板*/
.intro-wrap .p-info-con .s-info-plane{
    background: #009966;
    color: #fff;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
.intro-wrap .p-info-con .s-info-plane .s-label{
    float: left;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}
.intro-wrap .p-info-con .s-info-plane .s-info{
    float: right;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.intro-wrap .p-info-con .s-info-plane .s-info .s-date{
    background: #000;
    padding: 2px;
}
/* 价格部分 */
.intro-wrap .p-info-con .p-price-con{
    background: #eee;
    padding: 10px;
    margin-top: -1px;
}
.intro-wrap .p-info-con .p-price-con .info{
    color: #009966;
    font-size: 18px;
}
.intro-wrap .p-info-con .p-price-con .info.old-price{
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
}
/* 数量部分 */
.intro-wrap .p-info-con .p-count-con .p-count{
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn{
    position: absolute;
    left: 115px;
    display: block;
    width: 20px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
   	/*避免按钮文字被选中*/
    -moz-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.plus{
    top: 0;
}
.intro-wrap .p-info-con .p-count-con .p-count-btn.minus{
    bottom: 0;
}
/* 商品详细信息 */
.detail-wrap{
    margin-top: 15px;
}
.detail-wrap .tab-list{
    background: #eee;
    border: 1px solid #ddd;
    overflow: hidden;
    border-bottom: 1px solid #009966;
}
.detail-wrap .tab-list .tab-item{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.detail-wrap .tab-list .tab-item.active{
    background: #009966;
    color: #fff;
}
/*详情富文本样式*/
.detail-wrap .detail-con{
    padding-top: 20px;
    background: #fff;
}
.detail-wrap .detail-con img{
    display: block;
    margin: 0 auto;
}
/* 错误信息 */
.err-tip{
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}
