<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" conntent="ie=edge">
<meta name="keywords" content="EPost,电商">
<meta name="description" content="EPost电商平台">
<!--dns-prefetch-->
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.epost.com">
<link rel="dns-prefetch" href="//img.epost.com">
<!--seo基本优化  关键字和描述-->
<meta name="keywords" content="EPost,电商,网上购物,网上商城,数码产品,手机,笔记本,相机,手表,电商教程,电商网站源码">
<meta name="description" content="一个提供数码产品，手机，电脑，冰箱，居家百货，服装服饰，母婴，图书、食品等万种优质产品。最优质最便捷的网上购物网站">