.operator{
	margin-right:5px;
}
.search-wrap{
	margin-bottom:20px;
	.form-group{
		margin-right:5px;
	}
}
.page-header-right{
	position: absolute;
	top: 12px;
	right: 15px;
}
.p-img{
	margin:0 auto;
	display:block;
	width:150px;
	height:100px;
}