/*排序列表*/
.ct_order{
	width: 100%;
	background:#ccc;
	height: 30px;
}
.ct_order a{
	width: 25%;
	float: left;
	height: 30px;
	color: #333;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}

.ct_order a.now{
	color: #009966;
}


/* 商品区 */
.ct_produces{
	width: 100%;
	padding:0 10px;
}
.ct_produces .ct_produces_item{
	width: 48%;
	float: left;
	margin-top: 10px;
	background: #fff;
	padding: 5px;
	box-shadow: 1px 1px 7px #ddd;
}
.ct_produces .ct_produces_item:nth-child(2n){
	margin-left: 4%;
}
.ct_produces .ct_produces_item .ct_produces_item_box{
	width: 100%;
	min-height: 200px;
	box-shadow: 0 0 3px #efeff4;
	display: block;
	text-align: center;
}

.ct_produces .ct_produces_item .ct_produces_item_box img{
	width: 100%;
	display: block;
}

.ct_produces .ct_produces_item .ct_produces_item_box p:first-of-type{
	padding: 0 5px;
}
.ct_produces .ct_produces_item .ct_produces_item_box .nowPrice{
	font-size: 12px;
	color: #009966;
}
.ct_produces .ct_produces_item .ct_produces_item_box .oldPrice{
	font-size: 12px;
	color: #ccc;
	text-decoration: line-through;
}
.ct_produces > a{
	width: 100%;
	float: left;
}
.ct_produces > a img{
	width: 100%;
	display: block;
}

/*按钮未被按下时的样式*/
.mui-btn-primary {
	border: 1px solid #009966;/*按钮的边框线颜色*/
	background: #009966;/*按钮的背景色*/
}
/*按钮被按下时的样式*/
.mui-btn-primary:active {
	color: #fff;/*按钮上文字的颜色*/
	border: 1px solid #1f9966;/*按钮被按下时边框线的颜色*/
	background-color: #1f9966 !important;/*按钮被按下时的颜色*/
}